<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</style>

    <title>Hello, world!</title>
  </head>
  <body>

  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #CCCCCC;">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a href="#">テスト</a>
      </li>
    </ul>
  </div>
</header>

<div class="container-fluid">
      <div class="row flex-xl-nowrap" id="folder">

      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modalImg" class="img-fluid" src="">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.91/jsrender.min.js"></script>

    <script>

$(function(){

    $.ajax({
        url: 'http://172.30.9.47:8888/get.php',
        type: 'GET',
        data: {},
        dataType: 'json',
        crossDomain: true,
        cache: false
    })
    .done((data) => {

        var html = $("#theTmpl").render(data["contents"]);
        $("#folder").html(html);

    })
    .fail((data) => {

    });


    $('#photoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var imgtitle = button.data('imgtitle'); // Extract info from data-* attributes
        var imgsrc = button.data('imgsrc');
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text(imgtitle);
        modal.find('.modal-body img').attr("src",imgsrc);
    });


});


    </script>
    <script id="theTmpl" type="text/x-jsrender">
<div class="card col-10" style="margin-left: auto;margin-right: auto; margin-top: 10px;">
    <div class="card-header">
        <h5 class="card-title">{{:date}}</h5>
    </div>
    <div class="card-body" style="display: flex; flex-direction: row-reverse; overflow-x:auto; overflow-y:hidden">
{{for photos}}
        <img src="image/{{:filename}}" class="img-thumbnail img-fluid" style="width:40%;height:40%;" data-toggle="modal" data-target="#photoModal" data-imgsrc="image/{{:filename}}" data-imgtitle="{{:postdate}}">
{{/for}}
    </div>
</div>
</script>
</body>
</html>